apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: uptime-kuma
  namespace: uptime-kuma
  annotations:
    cert-manager.io/cluster-issuer: "pi-cluster-ca-issuer"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        # sslip.io subdomain: status.192-168-1-55.sslip.io -> 192.168.1.55
        - "status.192-168-1-55.sslip.io"
      secretName: uptime-kuma-tls
  rules:
    - host: "status.192-168-1-55.sslip.io"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: uptime-kuma
                port:
                  number: 3001
