apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: pihole
resources:
  # Shared config
  - unbound-configmap.yaml
  - pihole-adlists-configmap.yaml
  - pihole-whitelist-configmap.yaml
  - pihole-custom-dns.yaml
  - external-secret.yaml
  # Primary Pi-hole (pi-k3s - 192.168.1.55)
  - unbound-deployment.yaml
  - pihole-pvc.yaml
  - pihole-deployment.yaml
  - pihole-service.yaml
  - pihole-exporter.yaml
  - ingress.yaml
  # Secondary Pi-hole (pi5-worker-1 - 192.168.1.56)
  - unbound-secondary-deployment.yaml
  - pihole-secondary-pvc.yaml
  - pihole-secondary-deployment.yaml
  - pihole-secondary-exporter.yaml
  # Alerting
  - prometheusrule.yaml
