apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: pihole
resources:
  - unbound-configmap.yaml
  - unbound-deployment.yaml
  - pihole-pvc.yaml
  - pihole-adlists-configmap.yaml
  - pihole-deployment.yaml
  - pihole-service.yaml
  - pihole-exporter.yaml
  - external-secret.yaml
